@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
// colors
$black: #151515;
$green: #4EE1A0;
$grey: #242424;
$light-grey: #d9d9d9;
$white: #FFFFFF;
$font-family: 'Space Grotesk', sans-serif;
$font-weights: (
    "medium": 500,
    "bold": 700
);
$tablet: 768px;
$desktop: 1200px;
$desktop-wide: 1600px;